.horizontal-card {
    position: relative;
    width: 100%;
    height: 250px; // Fixed height
    margin-top: 46px;
    border-radius: 12px;
    overflow: hidden;
  
    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.3);
    }
  
    .card-content {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      color: white;
      text-align: center;
      padding: 20px;
      width: 55%;
      font-family: 'Inter', sans-serif;
  
      // Make text & button align properly
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px; // Adds spacing between elements
    }
  
    .card-content h2,
    .card-content p {
      font-size: 35px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .explore-btn {
      width: 200px;
      height: 50px;
      border: 2px solid white;
      background-color: transparent;
      color: white;
      font-size: 25px;
      font-weight: 400;
      border-radius: 6px;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  