$primary: #0768BD;
$secondary: #797979;

$nav-link-font-size: 20px;
:root {
  --bs-nav-link-font-size: #{$nav-link-font-size};
}

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:opsz@14..32&display=swap');

.custom-font {
    font-family: 'Inter', sans-serif;
    size: 20px;
}

.custom-navbar{
    background-color: white;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../assets/Fonts/InetgralCF.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-integral{
    font-family: "IntegralCF";
}

.font-carousel{
    font-family: 'IntegralCF';
    font-size: 49;
    color: #CFCECD;
}

.font-services-heading{
    font-family: 'IntegralCF';
    font-size: 35px;
    color: #0768BD;
    margin-top: 40px;
}